@media screen and (max-width: 1000px) {
  .available button {
    margin: 7px;
  }

  .book button {
    margin-top: 20px;
  }

  .update {
    font-size: 10px;
  }
}

@media screen and (max-width: 950px) {
  .image img {
    width: 250px;
  }

  .btn {
    top: 41%;
    left: 34%;
  }
}

@media screen and (max-width: 840px) {
  .image img {
    width: 220px;
  }

  .title {
    font-size: 15px;
  }

  .region > p {
    font-size: 15px;
  }

  .btn {
    top: 40%;
    left: 30%;
    font-size: 18px;
    width: 90px;
  }
}

@media screen and (max-width: 810px) {
  .update {
    font-size: 8px;
  }
}
@media screen and (max-width: 750px) {
  .region img {
    width: 180px;
    font-size: 14px;
  }

  .available button {
    margin: 4px;
  }

  .book button {
    margin-top: 10px;
  }

  .paragraph {
    font-size: 16px;
  }

  .region > p {
    font-size: 13px;
  }

  .title {
    font-size: 13px;
  }

  .btn {
    top: 38%;
    left: 24%;
    font-size: 16px;
    width: 80px;
  }
}

@media screen and (max-width: 685px) {
  .paragraph {
    font-size: 14px;
  }

  .region > p {
    font-size: 11px;
  }

  .title {
    font-size: 11px;
  }
}

@media screen and (max-width: 645px) {
  .inline {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .region img {
    width: 160px;
    font-size: 14px;
  }

  .first-row {
    margin-top: 5px;
  }

  .paragraph {
    margin-top: 4px;
  }

  .btn {
    top: 38%;
    left: 20%;
    font-size: 14px;
    width: 70px;
    height: 25px;
  }
}

@media screen and (max-width: 538px) {
  .region img {
    width: 145px;
  }
  .region p {
    margin: 4px;
  }
  .btn {
    top: 38%;
    left: 19%;
    font-size: 12px;
    width: 60px;
    height: 22px;
  }
}

@media screen and (max-width: 510px) {
  .amenities {
    margin: 2px 0px;
  }

  .region img {
    width: 130px;
  }

  .modal img {
    height: 290px;
  }

  .fa-star {
    font-size: 13px;
  }
  .btn {
    left: 16%;
  }
}

@media screen and (max-width: 467px) {
  .modal img {
    height: 280px;
  }
  .btn {
    left: 13%;
  }
}

@media screen and (max-width: 455px) {
  .region img {
    width: 120px;
  }

  .title-modal {
    font-size: 14px;
  }
  .btn-modal {
    font-size: 14px;
  }

  .fa-star {
    font-size: 10px;
  }

  .username {
    margin-right: 0px;
  }

  .logo {
    font-size: 16px;
  }
  .btn {
    top: 36%;
    left: 12%;
    font-size: 11px;
    width: 57px;
    height: 20px;
  }
}

@media screen and (max-width: 429px) {
  .username {
    margin-right: 0px;
  }

  .logo {
    margin-left: 0px;
    font-size: 14px;
  }
  .mars {
    width: 50px;
    height: 50px;
    padding-top: 14px;
  }

  .username {
    font-size: 14px;
  }
  .searchbar input {
    width: 250px;
  }
  .modal img {
    height: 250px;
  }

  .btn-modal {
    margin-right: 6px;
  }
}

@media screen and (max-width: 415px) {
  .paragraph {
    font-size: 14px;
  }

  .available button {
    margin: 3px;
  }
}

@media screen and (max-width: 400px) {
  .region img {
    width: 280px;
  }

  .regions {
    grid-template-columns: 100%;
  }
  .btn {
    width: 100px;
    height: 30px;
    top: 41%;
    left: 38%;
  }

  .region p {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 15px;
  }
}
